name: Android CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
  workflow_dispatch: 

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Setup Android SDK
      uses: android-actions/setup-android@v3
      with:
        packages: 'platforms;android-23 build-tools;23.0.2'
    - name: set up JDK 8
      uses: actions/setup-java@v4
      with:
        java-version: '8'
        distribution: 'temurin'
        cache: gradle
    - name: Install 32-bit libraries for AAPT
      run: |
        sudo dpkg --add-architecture i386
        sudo apt-get update
        sudo apt-get install -y libstdc++6:i386 zlib1g:i386

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Build with Gradle
      run: ./gradlew assemble -x lint
    - name: Print APK path
      run: echo app/build/outputs/apk/**/*.apk
    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: xposed-module-apk
        path: app/build/outputs/apk/**/*.apk

